header {
    background-color: rgb(59, 59, 166);
    color: white;
    text-align: center;
    padding-top: 0px;
    margin: 0px;
    
}

h1 {
    text-align: center;
}

#searchBtn {
    background-color: rgb(59, 59, 166) ;
    color: white;
    width: 200px;
    height: 50px;
    margin: 4px;

}

aside {
    width: 30%;
    float: left;
    height: 100%;
}
input {
    padding: 3px;
    align-items: center;
}

#weatherData {
    border: 2px, solid, rgb(59, 59, 166);
}

